
/* COMMON */
.btn:hover{
    background-color: rgb(83, 172, 239);
    border:1px solid rgb(55, 145, 215) ;
}

.white-btn:hover{
    background-color: rgb(247, 247, 247);
}

/* HEADER */
header .light:hover{
    border-bottom: 2px solid black;
    background-color: rgba(187, 206, 208, 0.882);
}

.head-sx .logo{
    border: none;
}

nav{
    line-height: 79px;
}

/* NestList */
.nestlist{
    display: none;
}

.nestlist li{
    cursor: pointer;
}

.light:hover .nestlist{
    display: block;
    border: 0 1px solid rgba(0, 0, 0, 0.759);
    background:linear-gradient(rgba(187, 206, 208, 0.882), rgba(152, 167, 165, 0.844)); 
    padding: 0.1rem ;
}

.light>div{
    flex-direction: row;
}

/* FAQ */
.box1:hover .answer{
    display:block;
}

.box2:hover .answer{
    display: block;
}

.box3:hover .answer{
    display: block;
}

.box1:hover .up{
    z-index: 2;
}
.box2:hover .up{
    z-index: 2;
}
.box3:hover .up{
    z-index: 2;
}


/* REVIEWERS SQAURES */
.box-output{
    position: relative;
}

.output{
    background-color: #F5F5F5;
    padding: 2.5rem 1rem;
    position:absolute;
    left: 0;
    top: 0;    
}

.first-rvwr{
    z-index: 10;
}

.box-output div[class*="xb"] {
    z-index: 1; 
}

.row-box .cstmr:hover{
    border: 15px solid rgba(255, 255, 255, 0.669);
}

/* predisposto cambio di finestra .output quando c'è un :hover
 o click su logo dell'azienda. Serve Js, con :hover funzionerebbe solo 
se fosse l'uno figlio dell'altro. */






