/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

.flex{
    display: flex;
}

.btn{
    background-color: #0061FF;
    color: white;
    border:1px solid #0061FF;
    cursor: pointer;
}

.white-btn{
    margin: 2rem 0;
    border:1px solid black;
    background-color: white;
    cursor: pointer;
}

ul, a:not(p>a) {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.container{
    width: 54%;
    margin: 7rem auto;
    max-width: 1200px;
}

p, span, ul{
    font-size: 0.7rem;
}

.bigger-p{
    font-size: 0.9rem;
}

hr {
    height:2px;
    width:20%;
    background-color: grey;
    margin: 2rem 0;
}



/* HEADER */
header{
    height: 80px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    background-color: white;
}

header nav li{
    font-size: 0.8rem;
}

nav{    
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;    
}

.logo, header .btn{
    margin: -0.4rem 1rem ;  /* non mi piace, sistemare */
}

header .btn{
    padding: 0.5rem 0.8rem;
}

nav ul{
    gap: 30px;
}

.background{
    background-color: #B4D0E7;
}

/* MAIN */
main{
    margin-top: 80px;
}

/* Jumbotron */

h1{
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 3rem;
}

.big-box{
    width: 60%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 5rem 0 1rem;
}

/* text box */
.small-side{
    width: 35%;
    padding: 0 1.5rem 0rem 0 ;
}

.small-side .btn{
    margin: 1rem 0;
    padding: 0.5rem 0.8rem;
}

.small-side i{
    margin-top: 3rem;
    font-size: 2rem;
    cursor: pointer;
}

/* image box */
.large-side{
    width: 65%;
    position: relative;
}

.large-side img{
    position: absolute;
    bottom: -70px;
}

/* First section */

section h2{
    font-size: 1.9rem;
    padding: 2rem 0;
}

/* Plans*/

.checkbox span{
    margin: 1rem 2rem 2rem 0;
}

.checkbox input{
    margin: 1rem 0 2rem 0;
}

.row{
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 2rem;
}

.row > div{
    border: 1px solid lightgray;
    min-height: 500px;
    flex-direction: column;
    width: calc(100% / 3 - 30px);
}

.title{
    border-bottom: 1px solid lightgray;
    line-height: 2rem;
    text-align: center;
}

.offer{
    padding: 1rem;
}

 .offer .first-item{
    list-style-image: url(../img/icons/user-solid.svg);
}

.offer .second-item{
    list-style-image: url(../img/icons/folder-solid.svg);
}

.team .offer .first-item{
    list-style-image: url(../img/icons/users-solid.svg);
}

.offer .third-item{
    list-style-image: url(../img/icons/share-nodes-solid.svg);
}

.points{
    list-style-image: url(../img/icons/check-solid\ \(1\).svg);
}

li::marker{
    font-size: 20px;
} 

.container h3{
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

.offer h5{
    font-size: 0.7rem;
    margin: 0.6rem 0 0.4rem;
}

.offer div p{
    color: grey;
}

.offer ul{
    padding: 1.2rem 0;
    margin-left: 1rem;
}

.offer .btn{    
    width: 100%;
    padding: 0.7rem 0;    
    margin: 1rem auto 1.5rem;
    font-size: 0.7rem;
}

.enterprise-two{
    margin: 1rem 0;
    border: 1px solid lightgray;
}

.enterprise-two .sx{
    width: 70%;
}

.enterprise-two .dx{
    width: 30%;
}
 
.enterprise-two .sx, 
.enterprise-two .dx {
    padding: 0 0.7rem;
}

.sx p{
    margin: 2rem 0 0.5rem 0;
}

/* Partner */
.partner{
    margin: 5rem 0;
}

.partner .large-col{
    width: 60%;
}

.partner .small-col{
    padding: 2.5rem 0.7rem 3rem 3rem;
    width: 40%;
}

.partner .white-btn{
    padding: 0.5rem 1rem;
}


/* Operations */

.ope-col{
    flex-wrap: wrap;
    gap: 25px;
    margin: 1.5rem 0;
}

.card{
    width: calc(100% / 3 - 25px);
}

.card p{
    padding: 1.5rem 0 1rem 0;
}

/* Customers */
.our-customers h2{
    padding: 2.5rem 0;
}

.our-customers a{
    text-decoration: underline;
    font-size: 0.7rem;
}

.our-customers{
    padding: 2rem 0;
    width: 60%;
}

/* Second section */

.third-sec{
    /* DEBUG */
    background-color: blueviolet;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.row-box{
    /* DEBUG */
    height: 400px;
}
.row-box > div {
        /* DEBUG */
    border: 1px solid black;
    width: calc(100vw / 3);
}

.box-sx, .box-dx{
    flex-wrap: wrap;
}

.cstmr{
    width: calc(100% / 2);
    height: 200px;
    background-color: red;
    border: 1px solid black;
}

/* Free trial */

.free-trial{
    /* DEBUG */
    border: 1px solid black;
}

.free-trial div{
    width: 60%;
    padding: 2rem 2rem 2rem 0;
}

.free-trial .btn{
    margin: 2rem 0 2rem 1rem;
}

/* FAQ */

.faq{
    /* DEBUG */
    border: 1px solid black;
}

/* FOOTER */
footer{
 background-color: black;
 color: white;
}

footer a, footer ul{
    color: white;
}

.top-footer-row{
    gap: 10px;
    margin: 2rem 0;
}
   
.ft{
    width: calc(100% / 5 - 10px);
}

.language{
    margin: 2rem 0;
}

















