/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

.flex{
    display: flex;
}

a, ul {
    text-decoration: none;
    list-style-type: none;
}

.container{
    width: 50%;
    margin: 7rem auto;
    max-width: 1200px;
}

/* HEADER */
header{
    height: 80px;
    background-color: greenyellow;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}

nav{    
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;    
}

.logo, header .btn{
    margin:0 1rem ;
}

nav ul{
    gap: 20px;
}

li{
    /* DEBUG */
    border: 1px solid black;
}


/* MAIN */
main{
    margin-top: 80px;
}

/* Jumbotron */
.background{
        /* DEBUG */
    background-color: aqua;
}

.big-box{
    /* DEBUG */
    background-color: bisque;

    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 3rem 8rem;
}

/* text box */
.small-side{
    width: 35%;
}

/* image box */
.large-side{
    width: 65%;
    /* DEBUG */
    background-color: rgb(193, 123, 38);
}

/* First section */

hr {
    height:2px;
    width:30%;
    background-color: grey;
}

/* Plans */

.title-col{
    border: 1px solid grey;
    line-height: 1rem;
    text-align: center;
}

.row{
   
    justify-content: space-between;
    gap: 10px;
}

.row > div{
    /* DEBUG */
    border: 1px solid red;
    height: 500px ;

    flex-direction: column;
    width: calc(100% / 3 - 10px);
    padding: 1rem;
}

.enterprise-two{
    margin: 1rem 0;
        /* DEBUG */
    border: 1px solid red;
}

.enterprise-two .sx{
    width: 70%;
}

.enterprise-two .dx{
    width: 30%;
}
 
.enterprise-two .sx, 
.enterprise-two .dx {
    padding: 1.5rem;
}

/* partner */
.partner{
    margin: 5rem 0;
}

.partner .small-side{
    padding: 1.5rem;
}

/* operations */

.ope-col{
    flex-wrap: wrap;
    gap: 10px;
    margin: 1.5rem 0;
}

.card{
    /* DEBUG */
   border: 1px red solid;

    width: calc(100% / 3 - 10px);
}

.our-customers h2{
    padding: 1.5rem 0;
}

.our-customers a{
    text-decoration: underline;
}

.our-customers{
    padding: 2rem 9rem 3rem 0;
}

/* Second section */

.second-sec{
    /* DEBUG */
    background-color: blueviolet;
}

.square-box{
        /* DEBUG */
        background-color: rgb(43, 226, 150);
}

.row-box{
    /* DEBUG */
    height: 400px;
}
.row-box > div {
        /* DEBUG */
    border: 1px solid black;
    width: calc(100vw / 3);
}

.box-sx, .box-dx{
    flex-wrap: wrap;
}

.cstmr{
    width: calc(100% / 2);
    height: 200px;
    background-color: red;
    border: 1px solid black;
}

/* Free trial */

.free-trial{
    /* DEBUG */
    border: 1px solid black;
}

.free-trial div{
    width: 60%;
    padding: 2rem 2rem 2rem 0;
}

.free-trial .btn{
    margin: 2rem 0 2rem 1rem;
}

/* FAQ */

.faq{
    /* DEBUG */
    border: 1px solid black;
}














